@import common._

@mainLayout(title = "Kein Zugriff", head = Html("""<meta http-equiv="refresh" content="3;url=/login"/>""")){
<div class="ui middle aligned center aligned grid">
    <div class="column login-column">
        <h2 class="ui center aligned header">
            <img src="/assets/images/wvg_logo_quad.png" class="ui small image">
            <br>
            <div class="content">Du bist nicht angemeldet.</div>
            <div class="sub header">Du wirst automatisch zum Login weitergeleitet.</div>
        </h2>
    </div>
</div>
}