@import common._

@(signInForm: Form[forms.SignUpForm.Data])(implicit request: RequestHeader, messages: Messages)

@mainLayout(title = Messages("sign.up.title")) {
    <div class="ui middle aligned center aligned grid">
        <div class="column login-column">
            <h2 class="ui center aligned header">
                <img src='@routes.Assets.at("images/wvg_logo_quad.png")' class="ui tiny image">
                <div class="content">
                    @Messages("sign.up.account")
                </div>
            </h2>
            @helper.form(action = routes.SignUpController.signUp(), 'class -> "ui large form" ) {
                @helper.CSRF.formField
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="firstName" placeholder='@Messages("first.name")'>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="lastName" placeholder='@Messages("last.name")'>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder='@Messages("email")'>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder='@Messages("password")'>
                        </div>
                    </div>
                    <button id="submit" type="submit" value="submit" class="ui fluid large green submit button">@Messages("sign.up")</button>
                </div>
            }
            <div class="sign-in-now">
                <p>@Messages("already.a.member") <a href="@routes.ApplicationController.signIn">@Messages("sign.in.now")</a></p>
            </div>
        </div>
    </div>
}
